*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0b1020;
    color:#fff;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    background:#12182b;
    position:sticky;
    top:0;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#8b5cf6;
}

nav{
    display:flex;
    gap:18px;
}

nav a{
    color:#fff;
    text-decoration:none;
    transition:.3s;
}

nav a:hover{
    color:#00ff99;
}

.hero{
    text-align:center;
    padding:90px 20px;
    background:linear-gradient(135deg,#141b34,#0b1020);
}

.hero h1{
    font-size:42px;
    margin-bottom:20px;
}

.hero p{
    color:#cfcfcf;
    max-width:700px;
    margin:auto;
    margin-bottom:30px;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
}

.btn{
    background:#8b5cf6;
    color:#fff;
    border:none;
    padding:15px 35px;
    border-radius:12px;
    cursor:pointer;
    font-size:17px;
}

.secondary{
    background:#00b894;
}

.games{
    display:flex;
    justify-content:center;
    gap:25px;
    padding:50px 20px;
    flex-wrap:wrap;
}

.card{
    width:320px;
    background:#161d33;
    padding:25px;
    border-radius:20px;
    text-align:center;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h2{
    margin-bottom:15px;
    color:#00ff99;
}

.card p{
    color:#cccccc;
}

.stats{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:40px 20px;
    flex-wrap:wrap;
}

.stat-box{
    width:220px;
    background:#161d33;
    padding:25px;
    border-radius:20px;
    text-align:center;
}

.stat-box h2{
    color:#8b5cf6;
    font-size:32px;
    margin-bottom:10px;
}

footer{
    text-align:center;
    padding:30px;
    background:#12182b;
    color:#aaa;
    margin-top:40px;
}

.login-box{
    width:90%;
    max-width:420px;
    margin:80px auto;
    background:#161d33;
    padding:30px;
    border-radius:20px;
}

.login-box h1{
    text-align:center;
    color:#8b5cf6;
}

.login-box h2{
    text-align:center;
    margin:20px 0;
}

.login-box input{
    width:100%;
    padding:15px;
    margin:10px 0;
    border:none;
    border-radius:10px;
    background:#0b1020;
    color:white;
}

.login-box p{
    text-align:center;
    margin:20px 0;
}

@media(max-width:768px){

.header{
    flex-direction:column;
    gap:15px;
}

.hero h1{
    font-size:32px;
}

nav{
    flex-wrap:wrap;
    justify-content:center;
}

}
